# Copy this file to .env and fill in your actual credentials
# MUST HAVE NO SPACES AT THE END

WEBSITE_USERNAME=your_username_here
WEBSITE_PASSWORD=your_password_here
FUND_PASSWORD=your_fund_password_here

# Your current identity in this list: Internship, VIP1, VIP2, VIP3, etc...
DEFAULT_IDENTITY=Internship 
WEBSITE_URL=https://

# Choose either 'browser' or 'api'
DEFAULT_METHOD=browser